<h1>Listing cookies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Water</th>
      <th>Sugar</th>
      <th>Salt</th>
      <th>Eggs</th>
      <th>Yeast</th>
      <th>Nutella</th>
      <th></th>     
       <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cookies.each do |cookie| %>
      <tr>
        <td><%= cookie.name %></td>
        <td><%= cookie.water %></td>
        <td><%= cookie.sugar %></td>
        <td><%= cookie.salt %></td>
        <td><%= cookie.eggs %></td>
        <td><%= cookie.yeast %></td>
        <td><%= cookie.nutella %></td>
        <td><%= link_to 'Show', cookie %></td>
        <td><%= link_to 'Edit', edit_cookie_path(cookie) %></td>
        <td><%= link_to 'Destroy', cookie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cookie', new_cookie_path %>
